.publication {
    margin: 0;
    padding: 0;
}

.publication-header-heading {
    background-image: url('../../../public/images/publication/publication.jpg');
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}