.cafi-detail-section {
    padding: 3% 20%;
}
.cafi-detail-img {
    width: 100%;
    /* height: 500px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cafi-detail-typo {
    padding: 20px 0;
}